<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_1.fw.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,56},{119,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,55}}</string>
                <key>sourceSize</key>
                <string>{119,55}</string>
            </dict>
            <key>1_2.fw.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,0},{119,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,56}}</string>
                <key>sourceSize</key>
                <string>{119,56}</string>
            </dict>
            <key>1_3.fw.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,111},{118,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,56}}</string>
                <key>sourceSize</key>
                <string>{118,56}</string>
            </dict>
            <key>1_4.fw.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,279},{115,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,55}}</string>
                <key>sourceSize</key>
                <string>{115,55}</string>
            </dict>
            <key>1_5.fw.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,223},{115,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,56}}</string>
                <key>sourceSize</key>
                <string>{115,56}</string>
            </dict>
            <key>1_6.fw.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,223},{115,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,56}}</string>
                <key>sourceSize</key>
                <string>{115,56}</string>
            </dict>
            <key>2_1.fw.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,167},{116,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,56}}</string>
                <key>sourceSize</key>
                <string>{116,56}</string>
            </dict>
            <key>2_2.fw.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,167},{115,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,56}}</string>
                <key>sourceSize</key>
                <string>{115,56}</string>
            </dict>
            <key>2_3.fw.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,279},{115,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,55}}</string>
                <key>sourceSize</key>
                <string>{115,55}</string>
            </dict>
            <key>2_4.fw.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,111},{118,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,56}}</string>
                <key>sourceSize</key>
                <string>{118,56}</string>
            </dict>
            <key>2_5.fw.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{119,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,56}}</string>
                <key>sourceSize</key>
                <string>{119,56}</string>
            </dict>
            <key>2_6.fw.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,56},{119,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,55}}</string>
                <key>sourceSize</key>
                <string>{119,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>startScene_starEffect.png</string>
            <key>size</key>
            <string>{238,334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a437f0f57658035ca3ae09317666cd2c$</string>
            <key>textureFileName</key>
            <string>startScene_starEffect.png</string>
        </dict>
    </dict>
</plist>
